/* common styles  */
* {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.primary-btn {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
}

.section-title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.section-description {
    color: #757575;
    font-size: 18px;
    text-align: center;
}

/* nav style  */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 230px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
}

/* header style  */
.header-section {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 700px;
}

.banner {
    /* margin: 50px 0 0 230px; */
    padding: 30px 0 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    max-width: 550px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    font-weight: 600px;
    margin-bottom: 0;
    /* font size i didn't added from google font so if you need it please add from google font  */
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 0;
    color: #181818;
}

.banner-description {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #757575;
}

.profile-pic {
    width: 500px;
}

/* main style  */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section style  */
.about-section {
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
    padding: 130px 150px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 30px;
}

.info-title {
    color: #757575;
    font-size: 20px;
    margin: 0;
}

.info {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
}

/* what i do section style  */

#what-i-do-description {
    padding: 0 116px;
}

.skills-container {
    margin-top: 50px;
    display: flex;
    gap: 24px;
    margin-bottom: 130px;
}

.skills {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* resume section style  */
.resume-info-container {
    display: flex;
    gap: 70px;
}

.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin: 0;
}

.institution-name {
    color: #757575;
    font-size: 20px;
    font-weight: 600px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.resume-description {
    color: #757575;
    margin: 0;
}

.resume-info-container hr {
    background: #D1D1D1;
    margin: 30px 0;
}

#cv-download-btn {
    margin-top: 30px;
    text-align: center;
}

/* footer section style  */
footer {
    background: #FFF8F3;
    padding: 230px 130px;
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
}

.footer-column {
    max-width: 50%;
}

.footer-icons-container {
    padding: 0;
    display: flex;
    gap: 24px;
}

.footer-icons-container>li {
    list-style: none;
}

.footer-column-title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}